schema/fmi3/fmi3Merged.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="fmi3Annotations">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Annotation">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:normalizedString" use="required">
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Annotations" type="fmi3Annotations"/>
    <xs:complexType name="fmi3Unknown">
        <xs:sequence>
            <xs:element ref="Annotations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="valueReference" type="xs:unsignedInt" use="required"/>
        <xs:attribute name="dependencies">
            <xs:simpleType>
                <xs:list itemType="xs:unsignedInt"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dependenciesKind">
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:enumeration value="dependent"/>
                            <xs:enumeration value="constant"/>
                            <xs:enumeration value="fixed"/>
                            <xs:enumeration value="tunable"/>
                            <xs:enumeration value="discrete"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="fmi3Unit">
        <xs:sequence>
            <xs:element name="BaseUnit" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="kg" type="xs:int" default="0"/>
                    <xs:attribute name="m" type="xs:int" default="0"/>
                    <xs:attribute name="s" type="xs:int" default="0"/>
                    <xs:attribute name="A" type="xs:int" default="0"/>
                    <xs:attribute name="K" type="xs:int" default="0"/>
                    <xs:attribute name="mol" type="xs:int" default="0"/>
                    <xs:attribute name="cd" type="xs:int" default="0"/>
                    <xs:attribute name="rad" type="xs:int" default="0"/>
                    <xs:attribute name="factor" type="xs:double" default="1"/>
                    <xs:attribute name="offset" type="xs:double" default="0"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="DisplayUnit" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Annotations" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:normalizedString" use="required"/>
                    <xs:attribute name="factor" type="xs:double" default="1"/>
                    <xs:attribute name="offset" type="xs:double" default="0"/>
                    <xs:attribute name="inverse" type="xs:boolean" default="false"/>
                </xs:complexType>
            </xs:element>
            <xs:element ref="Annotations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
    </xs:complexType>
    <xs:attributeGroup name="fmi3RealBaseAttributes">
        <xs:attribute name="quantity" type="xs:normalizedString"/>
        <xs:attribute name="unit" type="xs:normalizedString"/>
        <xs:attribute name="displayUnit" type="xs:normalizedString"/>
        <xs:attribute name="relativeQuantity" type="xs:boolean" default="false"/>
        <xs:attribute name="unbounded" type="xs:boolean" default="false"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3Float64Attributes">
        <xs:attribute name="min" type="xs:double"/>
        <xs:attribute name="max" type="xs:double"/>
        <xs:attribute name="nominal" type="xs:double"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3Float32Attributes">
        <xs:attribute name="min" type="xs:float"/>
        <xs:attribute name="max" type="xs:float"/>
        <xs:attribute name="nominal" type="xs:float"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3IntegerBaseAttributes">
        <xs:attribute name="quantity" type="xs:normalizedString"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3Int8Attributes">
        <xs:attribute name="min" type="xs:byte"/>
        <xs:attribute name="max" type="xs:byte"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3UInt8Attributes">
        <xs:attribute name="min" type="xs:unsignedByte"/>
        <xs:attribute name="max" type="xs:unsignedByte"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3Int16Attributes">
        <xs:attribute name="min" type="xs:short"/>
        <xs:attribute name="max" type="xs:short"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3UInt16Attributes">
        <xs:attribute name="min" type="xs:unsignedShort"/>
        <xs:attribute name="max" type="xs:unsignedShort"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3Int32Attributes">
        <xs:attribute name="min" type="xs:int"/>
        <xs:attribute name="max" type="xs:int"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3UInt32Attributes">
        <xs:attribute name="min" type="xs:unsignedInt"/>
        <xs:attribute name="max" type="xs:unsignedInt"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3Int64Attributes">
        <xs:attribute name="min" type="xs:long"/>
        <xs:attribute name="max" type="xs:long"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3UInt64Attributes">
        <xs:attribute name="min" type="xs:unsignedLong"/>
        <xs:attribute name="max" type="xs:unsignedLong"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3RealVariableAttributes">
        <xs:attribute name="derivative" type="xs:unsignedInt"/>
        <xs:attribute name="reinit" type="xs:boolean" default="false"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3EnumerationAttributes">
        <xs:attribute name="min" type="xs:long"/>
        <xs:attribute name="max" type="xs:long"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="fmi3ClockAttributes">
        <xs:attribute name="canBeDeactivated" type="xs:boolean" default="false"/>
        <xs:attribute name="priority" type="xs:unsignedInt" use="optional"/>
        <xs:attribute name="intervalVariability" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:normalizedString">
                    <xs:enumeration value="constant"/>
                    <xs:enumeration value="fixed"/>
                    <xs:enumeration value="tunable"/>
                    <xs:enumeration value="changing"/>
                    <xs:enumeration value="countdown"/>
                    <xs:enumeration value="triggered"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="intervalDecimal" type="xs:float" use="optional"/>
        <xs:attribute name="shiftDecimal" type="xs:float" default="0"/>
        <xs:attribute name="supportsFraction" type="xs:boolean" default="false"/>
        <xs:attribute name="resolution" type="xs:unsignedLong" use="optional"/>
        <xs:attribute name="intervalCounter" type="xs:unsignedLong" use="optional"/>
        <xs:attribute name="shiftCounter" type="xs:unsignedLong" default="0"/>
    </xs:attributeGroup>
    <xs:complexType name="fmi3AbstractVariable" abstract="true">
        <xs:sequence>
            <xs:element ref="Annotations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
        <xs:attribute name="valueReference" type="xs:unsignedInt" use="required"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="causality" default="local">
            <xs:simpleType>
                <xs:restriction base="xs:normalizedString">
                    <xs:enumeration value="parameter"/>
                    <xs:enumeration value="calculatedParameter"/>
                    <xs:enumeration value="input"/>
                    <xs:enumeration value="output"/>
                    <xs:enumeration value="local"/>
                    <xs:enumeration value="independent"/>
                    <xs:enumeration value="structuralParameter"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="variability">
            <xs:simpleType>
                <xs:restriction base="xs:normalizedString">
                    <xs:enumeration value="constant"/>
                    <xs:enumeration value="fixed"/>
                    <xs:enumeration value="tunable"/>
                    <xs:enumeration value="discrete"/>
                    <xs:enumeration value="continuous"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="canHandleMultipleSetPerTimeInstant" type="xs:boolean"/>
        <xs:attribute name="clocks">
            <xs:simpleType>
                <xs:list itemType="xs:unsignedInt"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="fmi3ArrayableVariable" abstract="true">
        <xs:complexContent>
            <xs:extension base="fmi3AbstractVariable">
                <xs:sequence>
                    <xs:element name="Dimension" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="start" type="xs:unsignedLong"/>
                            <xs:attribute name="valueReference" type="xs:unsignedInt"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="intermediateUpdate" type="xs:boolean"/>
                <xs:attribute name="previous" type="xs:unsignedInt"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3TypedVariable" abstract="true">
        <xs:complexContent>
            <xs:extension base="fmi3AbstractVariable">
                <xs:attribute name="declaredType" type="xs:normalizedString"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3TypedArrayableVariable" abstract="true">
        <xs:complexContent>
            <xs:extension base="fmi3ArrayableVariable">
                <xs:attribute name="declaredType" type="xs:normalizedString"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3MandatorilyTypedArrayableVariable" abstract="true">
        <xs:complexContent>
            <xs:restriction base="fmi3TypedArrayableVariable">
                <xs:attribute name="declaredType" type="xs:normalizedString" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3InitializableVariable" abstract="true">
        <xs:complexContent>
            <xs:extension base="fmi3TypedArrayableVariable">
                <xs:attribute name="initial">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:enumeration value="exact"/>
                            <xs:enumeration value="approx"/>
                            <xs:enumeration value="calculated"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3MandatorilyTypedInitializableVariable">
        <xs:complexContent>
            <xs:extension base="fmi3MandatorilyTypedArrayableVariable">
                <xs:attribute name="initial">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:enumeration value="exact"/>
                            <xs:enumeration value="approx"/>
                            <xs:enumeration value="calculated"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Float32">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3FloatVariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3RealBaseAttributes"/>
                <xs:attributeGroup ref="fmi3Float32Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:float"/>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attributeGroup ref="fmi3RealVariableAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Float64">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3FloatVariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3RealBaseAttributes"/>
                <xs:attributeGroup ref="fmi3Float64Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:double"/>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attributeGroup ref="fmi3RealVariableAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Int8">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3Int8Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:byte"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3UInt8">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3UInt8Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:unsignedByte"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Int16">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3Int16Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:short"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3UInt16">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3UInt16Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:unsignedShort"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Int32">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3Int32Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:int"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3UInt32">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3UInt32Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:unsignedInt"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Int64">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3Int64Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:long"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3UInt64">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3UInt64Attributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:unsignedLong"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Boolean">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:boolean"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3String">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Start" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="value" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Binary">
        <xs:complexContent>
            <xs:extension base="fmi3InitializableVariable">
                <xs:sequence>
                    <xs:element name="Start" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="value" type="xs:hexBinary"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="mimeType" type="xs:normalizedString" default="application/octet-stream"/>
                <xs:attribute name="maxSize" type="xs:nonNegativeInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Enumeration">
        <xs:complexContent>
            <xs:extension base="fmi3MandatorilyTypedInitializableVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                <xs:attributeGroup ref="fmi3EnumerationAttributes"/>
                <xs:attribute name="start">
                    <xs:simpleType>
                        <xs:list itemType="xs:long"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3Clock">
        <xs:complexContent>
            <xs:extension base="fmi3TypedVariable">
                <xs:sequence>
                    <xs:element name="Alias" type="fmi3VariableAlias" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="fmi3ClockAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3VariableAlias">
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="fmi3FloatVariableAlias">
        <xs:complexContent>
            <xs:extension base="fmi3VariableAlias">
                <xs:attribute name="displayUnit" type="xs:normalizedString"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="fmi3Variable">
        <xs:choice>
            <xs:element name="Float32" type="fmi3Float32"/>
            <xs:element name="Float64" type="fmi3Float64"/>
            <xs:element name="Int8" type="fmi3Int8"/>
            <xs:element name="UInt8" type="fmi3UInt8"/>
            <xs:element name="Int16" type="fmi3Int16"/>
            <xs:element name="UInt16" type="fmi3UInt16"/>
            <xs:element name="Int32" type="fmi3Int32"/>
            <xs:element name="UInt32" type="fmi3UInt32"/>
            <xs:element name="Int64" type="fmi3Int64"/>
            <xs:element name="UInt64" type="fmi3UInt64"/>
            <xs:element name="Boolean" type="fmi3Boolean"/>
            <xs:element name="String" type="fmi3String"/>
            <xs:element name="Binary" type="fmi3Binary"/>
            <xs:element name="Enumeration" type="fmi3Enumeration"/>
            <xs:element name="Clock" type="fmi3Clock"/>
        </xs:choice>
    </xs:group>
    <xs:complexType name="fmi3TypeDefinitionBase" abstract="true">
        <xs:sequence>
            <xs:element ref="Annotations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>
    <xs:group name="fmi3TypeDefinition">
        <xs:choice>
            <xs:element name="Float32Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3RealBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3Float32Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Float64Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3RealBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3Float64Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Int8Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3Int8Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt8Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3UInt8Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Int16Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3Int16Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt16Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3UInt16Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Int32Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3Int32Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt32Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3UInt32Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Int64Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3Int64Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt64Type">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3UInt64Attributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="BooleanType">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase"/>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="StringType">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase"/>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="BinaryType">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attribute name="mimeType" type="xs:normalizedString" default="application/octet-stream"/>
                            <xs:attribute name="maxSize" type="xs:nonNegativeInteger"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="EnumerationType">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:sequence maxOccurs="unbounded">
                                <xs:element name="Item">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="Annotations" minOccurs="0"/>
                                        </xs:sequence>
                                        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
                                        <xs:attribute name="value" type="xs:long" use="required"/>
                                        <xs:attribute name="description" type="xs:string"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attributeGroup ref="fmi3IntegerBaseAttributes"/>
                            <xs:attributeGroup ref="fmi3EnumerationAttributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClockType">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="fmi3TypeDefinitionBase">
                            <xs:attributeGroup ref="fmi3ClockAttributes"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:complexType name="fmi3InterfaceType" abstract="true">
        <xs:sequence minOccurs="0">
            <xs:element ref="Annotations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="modelIdentifier" type="xs:normalizedString" use="required"/>
        <xs:attribute name="needsExecutionTool" type="xs:boolean" default="false"/>
        <xs:attribute name="canBeInstantiatedOnlyOncePerProcess" type="xs:boolean" default="false"/>
        <xs:attribute name="canGetAndSetFMUState" type="xs:boolean" default="false"/>
        <xs:attribute name="canSerializeFMUState" type="xs:boolean" default="false"/>
        <xs:attribute name="providesDirectionalDerivatives" type="xs:boolean" default="false"/>
        <xs:attribute name="providesAdjointDerivatives" type="xs:boolean" default="false"/>
        <xs:attribute name="providesPerElementDependencies" type="xs:boolean" default="false"/>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="fmi3ModelExchange">
        <xs:complexContent>
            <xs:extension base="fmi3InterfaceType">
                <xs:attribute name="needsCompletedIntegratorStep" type="xs:boolean" default="false"/>
                <xs:attribute name="providesEvaluateDiscreteStates" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3CoSimulation">
        <xs:complexContent>
            <xs:extension base="fmi3InterfaceType">
                <xs:attribute name="canHandleVariableCommunicationStepSize" type="xs:boolean" default="false"/>
                <xs:attribute name="fixedInternalStepSize" type="xs:double"/>
                <xs:attribute name="maxOutputDerivativeOrder" type="xs:unsignedInt" default="0"/>
                <xs:attribute name="recommendedIntermediateInputSmoothness" type="xs:int" default="0"/>
                <xs:attribute name="providesIntermediateUpdate" type="xs:boolean" default="false"/>
                <xs:attribute name="mightReturnEarlyFromDoStep" type="xs:boolean" default="false"/>
                <xs:attribute name="canReturnEarlyAfterIntermediateUpdate" type="xs:boolean" default="false"/>
                <xs:attribute name="hasEventMode" type="xs:boolean" default="false"/>
                <xs:attribute name="providesEvaluateDiscreteStates" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fmi3ScheduledExecution">
        <xs:complexContent>
            <xs:extension base="fmi3InterfaceType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:annotation>
        <xs:documentation>
Copyright(c) 2008-2011 MODELISAR consortium,
             2012-2022 Modelica Association Project "FMI".
             All rights reserved.

This file is licensed by the copyright holders under the 2-Clause BSD License
(https://opensource.org/licenses/BSD-2-Clause):

----------------------------------------------------------------------------
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

- Redistributions of source code must retain the above copyright notice,
 this list of conditions and the following disclaimer.

- Redistributions in binary form must reproduce the above copyright notice,
 this list of conditions and the following disclaimer in the documentation
 and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
----------------------------------------------------------------------------
        </xs:documentation>
    </xs:annotation>
    <xs:element name="fmiModelDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ModelExchange" type="fmi3ModelExchange" minOccurs="0"/>
                <xs:element name="CoSimulation" type="fmi3CoSimulation" minOccurs="0"/>
                <xs:element name="ScheduledExecution" type="fmi3ScheduledExecution" minOccurs="0"/>
                <xs:element name="UnitDefinitions" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="Unit" type="fmi3Unit"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TypeDefinitions" minOccurs="0">
                    <xs:complexType>
                        <xs:group ref="fmi3TypeDefinition" maxOccurs="unbounded"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogCategories" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="Category">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="Annotations" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:normalizedString" use="required"/>
                                    <xs:attribute name="description" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DefaultExperiment" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="Annotations" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="startTime" type="xs:double"/>
                        <xs:attribute name="stopTime" type="xs:double"/>
                        <xs:attribute name="tolerance" type="xs:double"/>
                        <xs:attribute name="stepSize" type="xs:double"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ModelVariables">
                    <xs:complexType>
                        <xs:group ref="fmi3Variable" maxOccurs="unbounded"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ModelStructure">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Output" type="fmi3Unknown" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="ContinuousStateDerivative" type="fmi3Unknown" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="ClockedState" type="fmi3Unknown" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="InitialUnknown" type="fmi3Unknown" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="EventIndicator" type="fmi3Unknown" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="Annotations" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="fmiVersion" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:normalizedString">
                        <xs:pattern value="3[.](0|[1-9][0-9]*)([.](0|[1-9][0-9]*))?(-.+)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="modelName" type="xs:string" use="required"/>
            <xs:attribute name="instantiationToken" type="xs:normalizedString" use="required"/>
            <xs:attribute name="description" type="xs:string"/>
            <xs:attribute name="author" type="xs:string"/>
            <xs:attribute name="version" type="xs:normalizedString"/>
            <xs:attribute name="copyright" type="xs:string"/>
            <xs:attribute name="license" type="xs:string"/>
            <xs:attribute name="generationTool" type="xs:normalizedString"/>
            <xs:attribute name="generationDateAndTime" type="xs:dateTime"/>
            <xs:attribute name="variableNamingConvention" default="flat">
                <xs:simpleType>
                    <xs:restriction base="xs:normalizedString">
                        <xs:enumeration value="flat"/>
                        <xs:enumeration value="structured"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
